    <div class="container">
        <h2 class="text-center mt-0">Servicios que obtiene con nosotros</h2>
        <hr class="divider my-4" />
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Desarrollo Web</h3>
                    <p class="text-muted mb-0">Contamos con experiencia en lenguajes como: Python, PHP, C#, Vuejs, Angular y React!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-database text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Base de datos</h3>
                    <p class="text-muted mb-0">Experiencia en Mysql y PostgreSQL!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Software a la medida</h3>
                    <p class="text-muted mb-0">Se utiliza C# para las aplicaciones de escritorio</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-mobile text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Aplicaciones móviles</h3>
                    <p class="text-muted mb-0">Se utiliza Ionic para el desarrollo de app en dispositivos móviles</p>
                </div>
            </div>
        </div>
    </div>
