
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="../../../assets/img/portfolio/fullsize/1.jpg"
                    ><img class="img-fluid" src="../../../assets/img/portfolio/thumbnails/1.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Desarrollo Web</div>
                        <div class="project-name">Registro de personal en Python-Django</div>
                    </div></a
                >
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="../../../assets/img/portfolio/fullsize/2.jpg"
                    ><img class="img-fluid" src="../../../assets/img/portfolio/thumbnails/2.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Desarrollo Web</div>
                        <div class="project-name">Tienda comercial hecha en Laravel-PHP y Vue.js</div>
                    </div></a
                >
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="../../../assets/img/portfolio/fullsize/3.jpg"
                    ><img class="img-fluid" src="../../../assets/img/portfolio/thumbnails/3.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">App Móvil</div>
                        <div class="project-name">Motor gráfico Unity y lenguaje de programación C#</div>
                    </div></a
                >
            </div>
          
        </div>
    </div>