    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Puede conseguir lo que necesite!</h2>
                <hr class="divider light my-4" />
                <p class="text-white-50 mb-4">Ingenieros en tecnologías de la información egresados de la universidad politécnica de victoria.</p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Comience!</a>
            </div>
        </div>
    </div>