    <!-- NAVBAR PRINCIPAL -->
    <app-header></app-header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
      <app-navigation></app-navigation>
    </nav>
    
    <section class="page-section bg-primary" id="about">
      <app-about></app-about>
    </section>
    <section class="page-section" id="services">
      <app-servicios></app-servicios>
    </section>
    <section id="portfolio">
      <app-portafolio></app-portafolio>
    </section>
    
    
    <app-contactos></app-contactos>
    <app-footer></app-footer>

    
    <!-- aside and content-->
    <router-outlet></router-outlet>
      <!-- Para las rutas -->
  

  